<app-navbar></app-navbar>
<div class="wrapper">
  <div class="main">
  <section class="section section-lg section-coins">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-primary btn-round mr-1" type="button" (click)="openModal(template)">
              <i class="tim-icons icon-heart-2"> </i> 섹션 설정
            </button>
          </div>
        </div>
      <div class="row" *ngIf="!loading">
        <ng-container>
        <div class="col-md-4">
        <hr class="line-info" />
        <form class="form" [formGroup]="writeform">
        <p>제목<p><input type="text" formControlName="title">
        <p>인트로<p><input type="text" formControlName="intro">
        <p>카테고리<p><input type="text" formControlName="cate">
        <p>타이틀 이미지 선택<p><input type="file" (change)="selectFile($event)">
        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="titleupload()">Upload</button>
        </form>
        </div>
        </ng-container>
        <ng-container *ngFor = "let sec of content; index as i">
          <div class="col-md-4">
          <hr class="line-info" />
          <form class="form" [formGroup]="contentform">
          <p>섹션{{i+1}} 제목<p><input type="text" formControlName="stitle">
          <p>섹션 내용<p><input type="text" formControlName="section">
          <p>섹션 이미지 선택<p><input type="file" (change)="selectFile($event)">
          </form>
          <button class="btn btn-success" [disabled]="!selectedFiles" (click)="push(i)">push</button>
          </div>
        </ng-container>
      </div>
      <button class="btn btn-success" (click)="upload()">글 작성</button>
    </div>
  </section>
  <app-footer></app-footer>
</div>

<ng-template #template>
  <div class="modal-header">
     <h4 class="modal-title pull-left">section</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
     </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="form-group">
          <form class="form" [formGroup]="textform">
            <input
            class="form-control"
            formControlName="sectionCount"
            placeholder="Regular"
            type="text"
            value=""
          />
          </form>
        </div>
      </div>
      </div>
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" (click)="[insert(), modalRef.hide()]">설정</button>
     <button type="button" class="btn btn-default" (click)="modalRef.hide()">닫기</button>
  </div>
</ng-template>