<app-navbar></app-navbar>
<div class="wrapper">
  <div class="main">
  <section class="section section-lg">
    <div class="container">
        <hr class="line-info" />
        <div class="title"><h1>목차</h1></div>
        <blockquote>
              <h6 *ngFor="let o of section; index as i">{{(i+1) + '. ' + o.stitle}}</h6>
        </blockquote>
        <hr class="line-info" />
        <div class="title"><h1>{{title}}</h1></div>
        <div class="title"><h4>{{date}}</h4></div>
        <hr class="line-info" />  
        <ng-container *ngFor="let o of section; index as i">            
        <img class="section image" src={{o.img}}/> 
        <p class="text-white mb-3">
          {{o.section}}
        </p>
        </ng-container>
    </div>
  </section>
  <div class="section">
        <app-c-profile></app-c-profile>
  </div>
  <app-footer></app-footer>
</div>

<ng-template #template>
   <div class="modal-header">
      <h4 class="modal-title pull-left">카테고리 선택</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">×</span>
      </button>
   </div>
   <div class="modal-body">
      <select class="custom-select" (change)="changeCate($event.target.value)">
        <option value="ALL">전체</option>
        <option value="LIFE">일상</option>
      </select>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="[category(), modalRef.hide()]">검색</button>
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">닫기</button>
   </div>
</ng-template>