  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">Contact to</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/doombtter/"><i class="fab fa-instagram"> </i> Instagram </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://soundcloud.com/playaxion"><i class="fab fa-soundcloud"> </i> Soundcloud </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://blog.naver.com/popori357"><i class="fab fa-osi"> </i> 네이버 블로그 </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">© 2021, DOOMBTTER</h3>
          <h6>doombtter@gmail.com</h6>
        </div>
      </div>
    </div>
  </footer>